* {
  border: 1px solid black;
}

/*GENERAL*/

a {
  text-decoration: none;
}

a.visited {
  text-decoration: none;
}

.wrapper_footer {
  font-family:Source Sans Pro, sans-serif;
  font-size: 15px;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5px;
}

footer {
  display: flex;
  border-top: 2px solid black;
  padding-top: 18px;
  padding-bottom: 18px;
  justify-content: space-between;
}

.back {
  margin-left: 30px;
  margin-top: 50px;
  position: fixed;
}

.back:hover {
  transform: translate(-10px, 0px);
}


/*WORK*/
/*IMPRESSUM*/
/*LANDING_PAGE*/

ul {
  font-family:Overpass Mono, monospace;
  font-size: 48px;
  line-height: 3;
}

.pages {
  list-style: none;
}

.pages:hover {
  color: #ff2c53;
}

h1 {
  font-family:Overpass Mono, monospace;
  font-size: 48px;
  margin-top: 252px;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

h3 {
  font-family:Raleway, sans-serif;
  font-size: 36px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

/*ABOUT*/

.p {
  font-family:Raleway, sans-serif;
  font-size: 20px;
}

/*CONTACT*/

.wrapper_contact {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-right: 20%;
  margin-left: 20%;
}
