/*GENERAL*/

a {
  text-decoration: none;
}

a.visited {
  text-decoration: none;
}

.back {
  margin-left: 30px;
  margin-top: 50px;
  position: fixed;
  transition: transform 0.8s;
}

.back:hover {
  transform: translate(-10px, 0px);
}

.site {
  display: flex;
  position: relative;
  min-height: 100%;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 2em;
}

h1 {
  font-family:Overpass Mono, monospace;
  color: #042c54;
  font-size: 48px;
  margin-top: 250px;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

h3 {
  font-family:Raleway, sans-serif;
  color: #ac2b53;
  font-size: 36px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

p {
  font-family:Raleway, sans-serif;
  font-size: 20px;
  color: #872c53
}

.wrapper_footer {
  margin-right: 5%;
  margin-left: 5%;
  border-top: 2px solid #972c53;
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 2em;
}

footer a{
  font-family:Raleway, sans-serif;
  font-size: 15px;
  color: #f82c54;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}

/*LANDING_PAGE*/

ul {
  font-family:Overpass Mono, monospace;
  margin-top: 125px;
  font-size: 48px;
  line-height: 3;
}

.pages {
  list-style: none;
  text-decoration: none;
}

.pages:hover {
  color: #af2b53;
}

/*ABOUT*/

.wrapper_about {
  display: flex;
  justify-content: center;
  width: 325px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  border: solid black;
}

/*CONTACT*/

.wrapper_contact {
  display: flex;
  justify-content: space-between;
  margin-right: 20%;
  margin-left: 20%;
  border: solid black;
}

/*WORK*/

.projects {
  width: 200px;
  height: 200px;
  border: 1px solid #422c53;
  margin: auto;
  display: inline-block;
}

.wrapper_work {
  border: solid black;
  margin-left: 12%;
  margin-right: 12%;
  border: solid black;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 201px;
  height: 287px;
  opacity: 0;
  transition: .5s ease;
  background-color: none;
}

.container {
  position: relative;
  width: 33,33%;
  float: left;
  margin: 50px;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  font-family:Raleway, sans-serif;
  color: black;
  text-decoration: underline;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*TODO*/

.ToDo {
  width: 20%;
  height: 20%;
  margin: auto;
  display: inline-block;
}

/*INDESIGN*/

.wrapper_indesign {
  border: solid black;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  width: 25%;
  float: left;
  padding: 10px;
}


/*IMPRESSUM*/
